exportPattern("^[[:alpha:]]+")
export(rgenerator)
export(dugen)
export(brgen)
export(cugen)
export(expgen)
export(gagen)
export(gegen)
export(nogen)
export(draw_rgenerator)
export(draw_dugen)
export(draw_brgen)
export(draw_cugen)
export(draw_expgen)
export(draw_gagen)
export(draw_gegen)
export(draw_nogen)